/*Media - Stylesheet*/
@media (min-width: 1700px) and (max-width: 14000px){
}
@media (min-width: 1220px) and (max-width: 1370px) {
    .heading {
        font-size: 28px;
    }
    .top-nav p{
        font-size: 12px;
    }
    .nav-cus {
        padding: 12px 0px;
    }
    .nav-cus .logo a img {
        width: 100px;
    }
    .nav-cus ul > li > a{
        padding: 14px 17px;
        font-size: 13px;
    }
    .nav-cus ul > li .c-dropdown-menu li a {
        padding: 4px 23px;
        font-size: 13px;
    }
    .nav-cus .search-box{
        padding: 11px 0px;
    }
    .home-slider .slider-txt{
        font-size: 37px;
        height: 74px;
        line-height: 36px;
    }
    .home-slider .carousel-indicators button{
        width: 13px;
        height: 0px;
        border-top: 3px solid transparent;
    }
    .home-about .ab-container {
        width: 60%;
    }
    .home-about .right-img,
    .home-about .left-img{
        width: 220px;
    }
    .home-about h2 {
        font-size: 26px;
        margin-bottom: 25px;
        margin-top: 6px;
    }
    .home-about p{
        font-size: 17px;
        line-height: 28px;
    }
    .home-about a {
        padding: 4px 24px;
        padding-top: 3px;
        margin-top: 58px;
        font-size: 17px;
    }
    .home-services {
        padding: 66px 0px;
    }
    .home-services .container-cus{
        width: 75%;
    }
    .home-services h2{
        margin-bottom: 44px;
    }
    .home-services .bx-row h3 {
        font-size: 20px;
    }
    .home-services .bx-row p {
        font-size: 16px;
        line-height: 28px;
    }
    .home-health .container-cus{
        width: 75%;
    }
    .home-health h2{
        margin-bottom: 60px;
    }
    .home-health .blue-bar{
        height: 5px;
        margin-top: 50px;
        margin-bottom: 60px;
    }
    .health-banner p{
        font-size: 30px;
        line-height: 34px;
    }
    .home-health .bx-row{
        column-gap: 18px;
    }
    .home-health .bx-row .bx .img p span{
        font-size: 21px;
        font-weight: 400;
        line-height: 26px;
    }
    .blue-bar-ful .blue-bar{
        height: 5px;
        margin-top: 55px;
        margin-bottom: 50px;
    }
    .home-contact {
        padding: 40px 0px;
    }
    .home-contact .box {
        width: 55%;
    }
    .home-contact h2{
        font-size: 27px;
        margin-bottom: 19px;
    }
    .home-contact p{
        font-size: 19px;
    }
}
@media (min-width: 0px) and (max-width: 1024px) {
}
@media (min-width: 0px) and (max-width: 769px) {
}
@media (min-width: 0px) and (max-width: 569px) {
}
@media (min-width: 0px) and (max-width: 360px) {
}
