/*Style sheet*/
/*font-family: 'Open Sans', sans-serif;*/

body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  overflow-x: hidden;
}
ul{
  padding: 0px;
  margin: 0px;
}
p{
  margin: 0px;
}
a{
  text-decoration: none;
}
.mg-top-70{
  margin-top: 70px;
}
.mg-top-60{
  margin-top: 60px;
}
.mg-top-50{
  margin-top: 50px;
}
.mg-top-40{
  margin-top: 40px;
}
.mg-top-30{
  margin-top: 30px;
}
.mg-bot-50{
  margin-bottom: 50px;
}
.mg-bot-40{
  margin-bottom: 40px;
}
.mg-bot-25{
  margin-bottom: 25px;
}
.mg-bot-15{
  margin-bottom: 15px;
}
.mg-bot-10{
  margin-bottom: 10px;
}
.font-serif{
  font-family: serif;
}
.heading{
  font-size: 32px;
  font-weight: 600;
}
.container-cus{
  width: 1140px;
  margin: auto;
}
.container-cus::after{
  content: '';
  display: block;
  clear: both;
}
/*home*/
/*top nav*/
.top-nav{
  background: #3543a3;
  margin-bottom: 88px;
}
.top-nav p{
  float: left;
  color: white;
  font-size: 13px;
  padding: 5px 0px;
  text-transform: uppercase;
}
.top-nav ul{
  float: right;
}
.top-nav ul li{
  display: inline-block;
  margin-left: 9px;
}
.top-nav ul li a{

}
.top-nav ul li a svg{
  color: white;
  width: 17px;
}
.top-nav ul li:hover a svg{
  color: #d6d6d6;
}
.top-nav ul li:first-child a svg{
  width: 11px;
}
/*navbar*/
.nav-cus.fixed {
  position: fixed;
  top:0; left:0;
  width: 100%;
  z-index: 52;
  background: white;
  box-shadow: 0px 0px 8px rgb(17 17 17 / 11%);
}
.nav-cus{
  padding: 17px 0px;
  position: absolute;
  width: 100%;
  top: 28px;
}
.nav-cus .container-cus{

}
.nav-cus .logo{
  float: left;
}
.nav-cus .logo a{

}
.nav-cus .logo a img{
  width: 115px;
  position: relative;
  animation-name: logoanimate;
  animation-duration: 6s;
  animation-iteration-count: infinite; 
  transform: rotateY(0);
}
@keyframes logoanimate {
  0%   {transform: rotateY(0deg);}
  25%  {transform: rotateY(0deg);}
  50%  {transform: rotateY(360deg);}
  75%  {transform: rotateY(360deg);}
  100% {transform: rotateY(360deg);}
}
.nav-cus ul{
  float: right;
}
.nav-cus ul > li{
  display: inline-block;
  position: relative;
}
.nav-cus ul > li > a{
  display: block;
  color: #ed1c24;
  padding: 16px 20px;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  font-size: 15px;
  transition: color 0.5s ease-in-out;
}
.nav-cus ul > li > a:hover{
  color: #2e3192;
}
.nav-cus ul > li > a::after{
  content: '';
  position: absolute;
  right: -3px;
  height: 20px;
  width: 1px;
  background: #2e3192;
  top: 0px;
  bottom: 0px;
  margin: auto;
  transform: rotate(
13deg
);
}
.nav-cus ul li a:hover{

}
.nav-cus ul > li > a svg{
  width: 8px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  margin: auto;
  margin-left: 4px;
}
.nav-cus ul > li .c-dropdown-menu{
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 22;
  padding: 5px 0px;
  border-radius: 0px;
  background: rgb(46 49 146 / 90%);
  display: none;
}
.nav-cus ul > li .c-dropdown-menu li{
  display: block;
}
.nav-cus ul > li .c-dropdown-menu li a{
  color: white;
  font-weight: 400;
  padding: 8px 23px;
  font-size: 14px;
  transition: all 0.5s ease-in-out;
}
.nav-cus ul > li .c-dropdown-menu li a::after{
  content: none;
}
.nav-cus ul > li .c-dropdown-menu li a:hover{
  background: #3948ac;
  color: #dedede;
}
.nav-cus .search-box{
  float: right;
  margin-left: 26px;
  padding: 15px 0px;
}
.nav-cus .search-box .search-opener{

}
.nav-cus .search-box .search-opener img{
  width: 21px;
}
/*home slider*/
.home-slider{
  position: relative;
  overflow: hidden;
}
.home-slider .red-border{
  height: 149%;
  width: 4px;
  background: #ed1c24;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 10%;
  right: 0px;
  margin: auto;
  z-index: 2;
  transform: rotate(
22deg
);
  transition: transform 0.7s ease-in-out;
}
.home-slider:hover .red-border{
  transform: rotate(
28deg
);
}
.home-slider .carousel-inner img{
  transition: transform 0.7s ease-in-out;
}
.home-slider .carousel-inner .carousel-item:hover img.d-block{
  transform: scale(1.1);
}
.home-slider .verti-center{
  position: absolute;
  z-index: 2;
  left: 18%;
  margin: auto;
  top: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: left 0.7s ease-in-out;
}
.home-slider .carousel-item:hover .verti-center{
  left: 16%
}
.home-slider .verti-center .slider-txt{
  color: white;
  font-size: 40px;
  font-weight: 800;
  width: 450px;
  line-height: 50px;
}
.home-slider .verti-center .slider-txt span{
  font-weight: 500;
}
.home-slider .verti-center p{
  color: white;
  width: 440px;
  text-align: justify;
  margin-top: 12px;
}
.home-slider .blue-top{
  background-color: rgb(46 64 172 / 90%);
  position: absolute;
  width: 70%;
  height: 100%;
  left: -15%;
  top: 0px;
  z-index: 1;
  -ms-transform: skewX(-25deg);
  transform: skewX(
-25deg
);
}
.home-slider .blue-top img{
  width: auto;
  -ms-transform: skewX(25deg);
  transform: skewX( 
25deg
);
  position: absolute;
  right: -15%;
  height: 100%;
  mix-blend-mode: lighten;
}
.home-slider .carousel-indicators{
  margin-bottom: 42px;
  left: 20px;
}
.home-slider .carousel-indicators button{
  width: 23px;
  height: 3px;
  border-radius: 128px;
  display: block;
  background-clip: border-box;
  margin-right: 5px;
  margin-left: 5px;
}
.home-slider .carousel-inner img{
  width: 100%;
}
/*home about*/
.home-about{
  background-color: #2e3192;
  position: relative;
  z-index: 2;
  text-align: center;
}
.home-about .right-img{
  position: absolute;
  right: 0px;
  width: 280px;
  mix-blend-mode: soft-light;
}
.home-about .left-img{
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 280px;
  mix-blend-mode: soft-light;
}
.home-about .top-img{
  margin-top: -22px;
  width: 100%;
}
.home-about .bottom-img{
  margin-bottom: -22px;
  width: 100%;
}
.home-about .ab-container{
  width: 56%;
  margin: auto;
}
.home-about h2{
  color: white;
  margin-bottom: 36px;
  margin-top: 4px;
}
.home-about p{
  color: white;
  text-align: justify;
  font-size: 20px;
  line-height: 44px;
  font-weight: 300;
  margin-bottom: 14px;
}
.home-about a{
  margin-top: 60px;
  display: inline-block;
  color: rgb(255 255 255 / 84%);
  font-weight: 500;
  font-size: 20px;
  padding: 4px 20px;
  padding-top: 3px;
  border: 1px solid rgb(255 255 255 / 40%);
  transition: all 0.5s ease-in-out;
}
.home-about a:hover{
  color: #2e3192;
  background: white;
}
.home-about .animals{
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 80px;
  align-items: baseline;
  margin-bottom: 68px;
  margin-top: 15px;
}
.home-about .animals img{
  width: 100%;
}
.home-services{
  padding: 100px 0px;
}
.home-services h2{
  text-align: center;
  color: #2e3192;
  font-weight: 700;
  margin-bottom: 60px;
}
.home-services .half-color-bx{
  overflow: hidden;
}
.home-services .half-color-bx::after{
  content: '';
  width: 170%;
  height: 95%;
  top: -57%;
  left: -32%;
  background-color: rgb(46 49 146 / 70%);
  z-index: 0;
  position: absolute;
  transform: rotate(
-33.2deg
);
}
.home-services .bx-row{
  display: grid;
  grid-template-columns: 53% 42%;
  column-gap: 5%;
  margin-bottom: 80px;
}
.home-services .bx-row:last-child{
  margin-bottom: 0px;
}
.home-services .bx-row .left{
  position: relative;
}
.home-services .bx-row .right{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-services .bx-row .bac-img{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-size: 100% 100%;
  background-position: center;
  transition: all 1s ease-in-out;
}
.home-services .bx-row:hover .bac-img{
  background-size: 110% 110%;
}
.home-services .bx-row img{
  background-color: white;
  width: 100%;
  position: relative;
  z-index: 2;
  mix-blend-mode: lighten;
}
.home-services .bx-row h3{
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: #2e3192;
}
.home-services .bx-row p{
  font-size: 17px;
  line-height: 35px;
  text-align: justify;
  color: #2e3192;
}
.home-services .bx-reverse{
  grid-template-columns: 42% 53%;
  column-gap: 5%;
}
.home-services .bx-reverse .half-color-bx::after{
  background-color: rgb(224 32 39 / 60%);
}
/*home-health*/
.home-health{

}
.home-health h2{
  font-weight: 700;
  text-align: center;
  color: #2e3192;
  margin-top: 20px;
  margin-bottom: 80px;
}
.home-health .bx-row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 25px;
}
.home-health .bx-row .bx{
  position: relative;
}
.home-health .bx-row .bx:after{
  content: '';
}
.home-health .bx-row .bx .img{

}
.home-health .bx-row .bx .img img{
  width: 100%;
}
.home-health .bx-row .bx .img p{
  background-color: rgb(46 49 146 / 85%);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
}
.home-health .bx-row .bx:hover .img p{
  opacity: 0;
}
.home-health .bx-row .bx .img p span{
  color: white;
  font-size: 25px;
  font-weight: 300;
  display: block;
  position: relative;
  margin: auto;
  transform: translateY(-50%);
  top: 50%;
  text-align: center;
  line-height: 26px;
}
.home-health .bx-row .bx:nth-child(even) .img p{
  background-color: rgb(234 28 36 / 85%);
}
.home-health .blue-bar{
  width: 80%;
  margin: auto;
  background: #2e3192;
  height: 6px;
  margin-top: 58px;
  margin-bottom: 74px;
}
/*health-banner*/
.health-banner{
  position: relative;
}
.health-banner img{
  width: 100%;
}
.health-banner p{
  position: absolute;
  z-index: 2;
  color: white;
  left: 18%;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  width: 390px;
  margin: auto;
  top: 0px;
  bottom: 0px;
  line-height: 44px;
}
.health-banner p span{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  display: block;
}
/*carrer banner*/
.career-banner p{
  right: 22%;
  left: auto;
  text-align: right;
  font-size: 44px;
}
/*health-banner*/
.health-c-banner{
  position: relative;
  margin: 80px 0px;
}
.health-c-banner img{
  width: 100%;
}
.health-c-banner p.left{
  left: 18%;
}
.health-c-banner p.right{
  right: 18%;
  text-align: right;
}
.health-c-banner p{
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  width: 390px;
  margin: auto;
  top: 0px;
  bottom: 0px;
  line-height: 44px;
}
.health-c-banner p span{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  display: block;
}
/*blue-bar-ful*/
.blue-bar-ful{

}
.blue-bar-ful .blue-bar{
  width: 80%;
  margin: auto;
  background: #2e3192;
  height: 6px;
  margin-top: 86px;
  margin-bottom: 80px;
}
/*home-contact*/
.home-contact{
  padding: 110px 0px;
}
.home-contact .container-cus{

}
.home-contact .box{
  width: 80%;
  margin: auto;
  text-align: center;
}
.home-contact h2{
  font-weight: 700;
  font-size: 38px;
  color: #e41b21;
  margin-bottom: 40px;
}
.home-contact p{
  color: #e41b21;
  font-size: 27px;
}
/*footer*/
.footer{
  border-top: 6px solid #e11f27;
  border-bottom: 0px solid #e11f27;
  padding: 26px 0px;
  background-color: #3c3d97;
}
.footer .container-cus{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer ul{

}
.footer ul li{
  display: block;
  margin-bottom: 5px;
}
.footer ul li a{
  color: #f1f1f1;
  font-size: 15px;
}
.footer .social-box{
  margin-top: 30px;
}
.footer .social-box p{
  color: #eaeaea;
  font-size: 15px;
  margin-bottom: 10px;
}
.footer .social-box .social{

}
.footer .social-box .social a{
  display: inline-block;
  margin-right: 20px;
}
.footer .social-box .social a svg{
  height: 30px;
  color: white;
}
.footer .social-box .social .facebook-icon svg{
  height: 26px;
}
/*text page*/
.text-page{
  padding: 60px 0px;
}
.text-page h1{
  font-weight: 700;
  color: #ed1c24;
  margin: 0px;
  margin-bottom: 25px;
}
.text-page p{
  font-size: 18px;
  text-align: justify;
  margin-bottom: 20px;
}
.text-page .left-float-box{
  float: right;
  width: 25%;
  margin-left: 4%;
}
.text-page .left-float-box .cert{
  width: 60%;
  margin: auto;
  display: block;
  margin-bottom: 16px;
}
.text-page .left-float-box .img{
  width: 100%;
}
.text-page .left-float-box p{
  background: #ed1b23;
  text-align: center;
  color: white;
  font-size: 19px;
  padding: 4px 0px;
}